.restaurant_page {
    text-align: center;
}

.restaurant_details_container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid gray;
    justify-content: space-around;
}

.rating_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rating_container img {
    width: 50px;
    border-radius: 50%;
}

.img_name_container {
    display: flex;
    column-gap: 10px;
}

.review_form_container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.review_form_container label {
    font-size: large;
}

.review_form_container input {
    margin-left: 5px;
    padding: 5px;
    font-size: large;
}

.review_form_container button {
    padding: 10px;
    cursor: pointer;
}